:root {
    --fuentePrincipal: 'Inter', sans-serif;

    --blanco: #fff;
    --azul: #4eadfe;
    --azulClaro: #04eefe;
    --azulOscuro: #242c33;
    --grisAzulado: #6b8499;
    --grisOscuro: #5c6166;


.CuadroTextoArticulo{
    width: 100%;
}

.TextoArticulo{
    font-size: 18px;
    max-width: 100%;
}

.BotonArticulo{
    background-image: linear-gradient(to right,#4eadfe, #04eefe);   
    color: white;
    padding: 15px 20px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-color: transparent;
    border-radius: 10px;
}

.CuadroImagenArticulo{
    max-height: 500px;
}

.ImagenArticulo{
    width: 90%;
    height: 80%;
    align-self: end;
    border-radius: 20px
=======
nav ul li a:hover {
    color: #ccc;

}